@font-face {
  font-family: sans-serif;
  src: url(../fonts/Orbitron-Regular.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../fonts/Orbitron-Medium.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../fonts/Orbitron-Bold.ttf);
}

:root {
  --primary-color: #57b8ff;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Orbitron";
}

.container {
  /* 1440 - 60*2 + 2*15 = 1290 */
  max-width: 1290px;
  padding: 0px 15px;
  margin: 0 auto;
}
